.menu {
    background-color: lightgray;
    height: 10vh;
    width: 98vw;
    padding-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-item {
    padding: 0 10px;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: whitesmoke;
}